* {
  font-family: 'Poiret One', cursive !important;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 2vw;
}

h2,
b {
  font-size: 2rem;
  font-weight: 900;
}

p,
h3,
li,
.links {
  font-size: 1.5rem;
  font-weight: 600;
}

.no-hover:hover {
  background-color: blue;
}

b {
  font-size: 2rem;
  font-weight: 900;
  color: yellow;
}

.react-svg {
  animation: react-svg-spin infinite 20s linear;
  height: 12vh;
}

@keyframes react-svg-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  background-image: url('./assets/img/backgrounds/noisy-footer.png');
}
